.main-content{
  margin: 50px 0;
}
.input-textbox{
  margin-bottom: 20px;
}
.list-card{
  margin-bottom: 5px;
}
.list-card .card-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-card .card-descrtiption{
  width: 100%;
  display: flex;
}
.badge-contain{
  margin-top: 20px;
}
.forks-contain{
  display: flex;
}
.fork-user{
  display: flex;
  margin-right: 15px;
  align-items: center;
  cursor: pointer;
}
.fork-user:last-child{
  margin-right: 0;
}
.fork-user img{
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 100%;
}
.username-text{
  margin-left: 10px;
  font-size: 13px;
}
.badge{
  margin-right: 5px;
}
